
body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2{
  font-family: Arial, sans-serif;
}

label {
  display: block;
  font-family: Arial, sans-serif;
  padding: 8px;
  font-size: 1em;
  text-align: left;
  padding-top: 5%;
}

input, select, textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: Arial, sans-serif;
  width: 400px;
  padding: 8px;
}

textarea {
  height: 170px;
}

button {
  width: 100%;
  background: #007bff;
  color: #fff;
  padding: 10px;
  border: 2px solid #007bff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}